<footer class="text-white bg-black"> <!-- divide-y divide-gray-300 -->
  <div class="container lg:grid grid-cols-5 py-8 lg:py-16">
    <div class="col-start-1 col-end-2">
      <p class="text-base font-bold pb-5">Address</p>
      <p class="pb-7 lg:pb-0">
        Carrer de Torres i Amat, 21 3er<br>
        08001, Barcelona
      </p>
    </div>
    <div class="col-start-5 ">
      <p class="text-base font-bold pb-5">Follow us</p>
      <div class="flex gap-5">
        <img src="/src/assets/images/icons/Twitter.svg" alt=""> 
        <img src="/src/assets/images/icons/Instagram.svg" alt=""> 
        <img src="/src/assets/images/icons/Behance.svg" alt="">
      </div>
    </div>
  </div>
  <hr class="border-gray-300">
  <div class="container lg:grid grid-cols-4 py-7 lg:py-14">
    <div class="col-start-1 col-end-3 pb-9 lg:pb-0">
      <a href="#" class="text-base font-bold mr-3">Privacy policy</a>
      <a href="#" class="text-base font-bold mr-3">Legal Notice</a>
    </div>
    <div class="col-start-4 ">
      <a class="group" href="https://mortensen.cat" target="_blank" rel="noopener" title="Mortensen: digital agency in Barcelona. UX/UI Design and development">Made with <i class="transition not-italic group-hover:text-[red]">♥</i> by <strong>Mortensen</strong></a>
    </div>
  </div>
</footer>
