<div class="fixed inset-0 z-50 w-full h-full pointer-events-none opacity-5">
  <div class="container">
    <div class="flex flex-wrap items-stretch -mx-3">
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
      <div class="flex w-1/12 h-screen px-3">
        <div class="flex-1 w-full bg-red-900"></div>
      </div>
    </div>
  </div>
</div>
