<section>
  <div class="container lg:flex flex-row  gap-9 items-center py-6	 lg:py-20">

    <div class="basis-1/2 mb-5 lg:mb-0">
      <h1 class="text-xl pb-3 lg:hidden text-center">Content title</h1>
      <img src="./assets/images/image1.jpeg" alt="" class="rounded">
    </div>

    <div class="basis-1/2">
      <h1 class="lg:text-2xl pb-5 hidden lg:block">Content title</h1>
      <p class="text-center pb-5 lg:text-lg lg:pb-9  lg:text-left">
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.<br>
        <br>
        Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.
      </p>
      <div class="w-full mx-auto text-center mb-5 lg:text-left lg:mb-0">
        <a href="#" class="rounded bg-black text-base text-white py-3 px-4 ">Buy now</a>
      </div>
    </div>

  </div>
</section>
