<section>
  <div class="container text-center py-6 lg:py-12 ">

    <h1 class="text-xl lg:text-2xl mb-5">Welcome to Mortensen</h1>
    <p class="lg:text-lg lg:w-1/2 lg:px-6 mx-auto mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts</p>

    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="./assets/images/image1.jpeg" alt="" class="px-20">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/image2.jpeg" alt=" " class="px-20">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/image3.jpeg" alt="" class="px-20">
        </div>
        <div class="swiper-slide">
          <img src="./assets/images/image4.jpeg" alt="" class="px-20">
        </div>
      </div>
      <div class="swiper-button-next hidden lg:flex"></div>
      <div class="swiper-button-prev hidden lg:flex"></div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section>
