<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="./assets/styles/swiper-bundle.min.css" />
    <link rel="stylesheet" type="text/css" href="./assets/styles/main.scss" />
    <!-- do not remove this line! -->
    <block name="title"><title>Basics Boilerplate</title></block>
  </head>
  <body class="flex flex-col justify-between min-h-screen pt-0 text-base">
    <include src="./scaffolding/header.html"></include>
    <main class="flex-1">
      <block name="content"></block>
    </main>
    <include src="./scaffolding/footer.html"></include>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <script src="./assets/scripts/main.js"></script>
    <!-- do not remove this line! -->
  </body>
</html>
